.skills_table {
    border: 1px solid var(--gray-color);
    padding: 10px 0;
    margin: 15px 0;
}

.skills_title {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 10px;
}

.skills_list {
    border-top: 1px solid var(--gray-color);
    padding: 10px;
}

.skill_item {
    padding-right: 10px;
}
