:root {
  --primary-color: #C778DD;
  --gray-color: #ABB2BF;
  --animate-duration: 1000ms;
  --animate-delay: 1s;
  font-family: 'Fira Code', monospace, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282C33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlighted-words {
  color: var(--primary-color);
}

p {
  font-size: 1rem;
  color: var(--gray-color);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: 'Fira Code', monospace, Avenir, Helvetica, Arial, sans-serif;
}

button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
