.hashtag {
    color: var(--primary-color);
}

.li {
    list-style: none;
    padding-left: 4em;
    display: flex;
}

.li a {
    color: var(--gray-color);
}

.li a:hover {
    color: white;
    transition: 200ms all ease-in;
}

@media screen and (max-width: 480px) {
    .li a {
        font-size: 2.4rem;
        padding: 15px 0;
        font-weight: 400;
    }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
    .li {
        padding: 0 10%;
    }

    .li a {
        font-size: 3rem;
        padding: 15px 0;
        font-weight: 400;
    }
}
